/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 /*====导航栏====*/

 .navbar {
    position: relative;
    border: 1px solid transparent;
    margin-bottom: 0px;
}
.nav-background {
  background-color: rgb(51,51,51)
}

.navbarContent {
  width: 100%; /*满屏，居中*/
  margin: 0 auto;
  height: 0px;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 30px;
    line-height: 20px;
    height: 50px;
    color: white;
  }

 /*====页面整体颜色====*/
.background{
  background-color: rgb(250,246,236)
}

/*5种背景颜色*/
.bg-color1 {
  background: rgba(39,39,39,1);
}

.bg-color2 {
  background: rgba(14,111,182,1);
}

.bg-color3 {
  background: rgba(194,222,31,1);
}

.bg-color4 {
  background: rgba(172,164,160,1);
}

.bg-color5 {
  background: rgba(155,128,94,1);
}





/*菜单*/
.menu {
  width: 100%;
  margin:0px auto -32px;
}

.menuList {
  width: 100%;
  margin: 20px auto;
  height: 42px;
}

.menuList-item {
  font-family: 'Metamorphous', cursive;
  text-align: center;
  height: 42px;

  .logo{
    margin-top:5px;
  }
}



/*轮播图*/
.carousel {
  margin: 20px auto;
  width: 100%;
  height: auto;
}


/*排序*/
.orderList {
  margin: 20px auto;
  width: 100%;
  overflow: hidden;
}

.orderList-item {
  float: left;
  font-family: 'Metamorphous', cursive;
  text-align: center;
  color:white;
  width: 108px;
  height: 42px;
}

/*商品列表*/
.productList {
  margin: 20px auto;
  width: 1200px;
  overflow: hidden;
}

.productList-item {
    float: left;
    max-width: 300px;
    max-height: 300px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.productList-lastItem {
  margin-right: 0;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext,vietnamese');
body{font-family: 'Quicksand', sans-serif;}
   h4{
    	font-weight: 600;
	}
	p{
		font-size: 12px;
		margin-top: 5px;
	}
	.price{
		font-size: 30px;
    	margin: 0 auto;
    	color: #333;
	}

	.thumbnail{
		opacity:0.70;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
	.thumbnail:hover{
		opacity:1.00;
		box-shadow: 0px 0px 10px #4bc6ff;
	}
	.line{
		margin-bottom: 5px;
	}
	@media screen and (max-width: 770px) {
		.right{
			float:left;
			width: 100%;
		}
	}
	span.thumbnail {
        border: 1px solid #00c4ff !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
	padding: 10px;
}
.container h4{margin-top:70px; margin-bottom:30px;}
button {    margin-top: 6px;
}
.right {
    float: right;
    border-bottom: 2px solid #0a5971;
}
.btn-info {
    color: #fff;
    background-color: #19b4e2;
    border-color: #19b4e2;
	font-size:13px;
	font-weight:600;
}


/* 页脚 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
ul,li{
    padding:0;
    margin:0;
}
li{
    list-style-type:none;
}



footer { background-color:#0c1a1e; min-height:350px; font-family: 'Metamorphous', cursive; }
.footer-col { margin-top:50px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footer-col p { color:#fff; font-size:12px; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footer-col p i { width:20px; color:#999;}

.footer-ul { list-style-type:none;  padding-left:0; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
.social-icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: blue;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    padding-top: 7px;
    border-radius: 50%;
}
 .footer-social li{
     float:left;
 }
 .linked-in{
     background-color:#007bb6;
 }
 .facebook{
     background-color:#3b5998;
 }
 .twitter{
     background-color:#1da1f2;
 }
 .google{
     background-color:#f63e28;
 }
