/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 /*====导航栏====*/

 .navbar {
    position: relative;
    border: 1px solid transparent;
    margin-bottom: 0px;
}
.nav-background {
  background-color: rgb(51,51,51);
}

.navbarContent {
  width: 100%; /*满屏，居中*/
  margin: 0 auto;
  height: 0px;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 30px;
    line-height: 20px;
    height: 50px;
    color: white;
    font-family:cursive;
  }

  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
      color: rgba(192,132,82,1);
      background-color: transparent;
  }

  .navbar-default .navbar-nav > li > a {
      color: white;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: rgba(192,132,82,1);
    background-color: transparent;
}

a {
    color: black;
    text-decoration: none;
}
a:hover, a:focus {
    color: rgba(192,132,82,1);
    text-decoration:none;
}
/*====登录页面====*/
.addtional {
  a{
  color: white;
  text-decoration: none;
  }
}

/*====注册页面====*/
.addtional {
  label{
  display: inline-block;
  max-width: 63%;
  margin-bottom: 8px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  }
}
 /*====页面整体====*/


.background{
  background-color: rgb(250,246,236);
}

/*5种背景颜色*/
.bg-color1 {
  background: rgba(39,39,39,1);
}

.bg-color2 {
  background: rgba(14,111,182,1);
}

.bg-color3 {
  background: rgba(194,222,31,1);
}

.bg-color4 {
  background: rgba(172,164,160,1);
}

.bg-color5 {
  background: rgba(155,128,94,1);
}
/*首页背景图*/
.center{
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.level-background1{
  background-image: url(http://oooly5avu.bkt.clouddn.com/banner-1976103_meitu_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.level-background2{
  // background-image: url(http://oooly5avu.bkt.clouddn.com/leather-1251742_meitu_3.jpg);
  background-color:rgba(249,244,231,1);
  padding-top:10px;
  padding-bottom:10px;
  margin-top:-20px;
  height:520px;
}
  .home-header{
      font: 100 50px/42px robotothin, sans-serif;
      text-transform: uppercase;
      float: left;
      margin: 0 100px 0 0;
  }
  .photo {
      background: #fff;
      padding: 3px;
      margin-right: 50px;
      float: left;
      width: 341px;
      height: 437px;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.28);
  }

  .photo2 {
        background: #fff;
        padding: 3px;
        float: left;
        width: 341px;
        height: 437px;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.28);
    }

  .content {
      background: #fff;
      width: 400px;
      height: 437px;
      margin-right: 50px;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.28);
      float: left;
      padding: 0 21px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  .title {
    font: 400 22px/26px robotoregular;
    color: #111;
    padding: 16px 0 9px 0;
    text-align: center;
    letter-spacing: 2px;
}
  .text {
    font: 400 14px/22px robotoregular;
    color: black;
    margin: 0 0 26px 0;
    line-height: 60px;
    letter-spacing: 2px;
}



.level-background3{
  // background-image: url(http://oooly5avu.bkt.clouddn.com/texture-2186569_meitu_6.jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:0px;
  margin-top: 50px;
  height:550px;
}

.center2{
  width: 1155px;
  margin-left: auto;
  margin-right: auto;
}
  .box{
    background: #fff;
    float: left;
    margin-right: 50px;
    width: 250px;
    height: 490px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.28);
    text-align: center;
    font-family: cursive;
  }
  .last-box{
    background: #fff;
    float: left;
    width: 250px;
    height: 490px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.28);
    text-align: center;
    font-family: cursive;
  }

.level-background4{
  background-image: url(http://oooly5avu.bkt.clouddn.com/leather-1251795_meitu_4.jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:50px;
  margin-top: 50px;
  height:500px;
}
.level-background5{
  background-image: url(http://oooly5avu.bkt.clouddn.com/wallpaper-1859820_meitu_7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.level-background6{
  background-image: url(http://oooly5avu.bkt.clouddn.com/textile-1251716_meitu_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*菜单*/

.menu{
  width:100%;
  margin-right: auto;
  margin-left: auto;

  .menu-item{
    font-size: 23px;
    font-family: cursive;
    float:left;
    height:40px;
    width:12%;
    text-align: center;
    margin-top: 40px;
  }

.logo{
    font-size: 47px;
    font-family: 'Metamorphous', cursive;
    margin:25px 2% 10px 2%;
    float:left;
    height:40px;
    width:24%;
    text-align: center;
  }

}

/*轮播图*/
.carousel {
  margin: 20px auto;
  width: 100%;
  height: auto;
}

/*排序*/
.orderList {
  margin: 20px auto;
  width: 100%;


}

.orderList-item {
  float: left;
  font-family: 'Metamorphous', cursive;
  text-align: center;
  color:white;
  width: 108px;
  height: 42px;
}

/*商品列表*/
.product-background{
  background-image:url(http://oooly5avu.bkt.clouddn.com/banner-1976103_meitu_1.jpg);
  margin-bottom:-21px;
  margin-top:5px;
  width:1600px;
  border-radius: 13px;
  height:100px;
}

.product-title1{
  text-align:center;
  color:white;
  font-family:cursive;
  font-size:5em;
  margin-top: 10px;
  padding:50px auto;
  vertical-align:bottom;
  text-shadow: -1px 4px 7px #F2DCA2;
}

.productList {
  margin: 20px auto;
  width: 1200px;
  overflow: hidden;
}

.productList-item {
    float: left;
    max-width: 300px;
    max-height: 300px;
    margin-right: 15px;
    margin-bottom: 15px;

}

.productList-lastItem {
  margin-right: 0;
}

.sign-up-background{
  background-image:url(http://oooly5avu.bkt.clouddn.com/green%20rug.jpg);
  height: 900px;
}

.sign-up-position{
margin-left:18%;
margin-top:15%;
}


.log-in-background{
  background-image:url(http://oooly5avu.bkt.clouddn.com/shutterstock_132986507_meitu_1.jpg);
  height: 900px;
}

.log-in-position{
margin-left:73%;
margin-top:14%;
}


label {
    display: inline-block;
    max-width: 63%;
    margin-bottom: 8px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    font-size: 19px;
}



@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext,vietnamese');
body{
  font-family: 'Quicksand', sans-serif;
  position: relative;
}
   h4{
    	font-weight: 600;
	}
	p{
		font-size: 12px;
		margin-top: 5px;
	}
	.price{
		font-size: 30px;
    	margin: 0 auto;
    	color: #333;
	}

	.thumbnail{
		opacity:0.70;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
	.thumbnail:hover{
		opacity:1.00;
		box-shadow: 0px 0px 10px #4bc6ff;
	}
	.line{
		margin-bottom: 5px;
	}
	@media screen and (max-width: 770px) {
		.right{
			float:left;
			width: 100%;
		}
	}
	span.thumbnail {
        border: 1px solid #00c4ff !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.16);
	padding: 10px;
}
.container h4{margin-top:70px; margin-bottom:30px;}
button {    margin-top: 6px;
}
.right {
    float: right;
    border-bottom: 2px solid #0a5971;
}
.btn-info {
    color: #fff;
    background-color: #19b4e2;
    border-color: #19b4e2;
	font-size:13px;
	font-weight:600;
}


/* 页脚 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
ul,li{
    padding:0;
    margin:0;
}
li{
    list-style-type:none;
}



footer {
  background-color:#0c1a1e;
   min-height:350px;
   font-family: 'Metamorphous', cursive;
  }
.footer-col { margin-top:50px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footer-col p { color:#fff; font-size:12px; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footer-col p i { width:20px; color:#999;}

.footer-ul { list-style-type:none;  padding-left:0; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
.social-icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: blue;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    padding-top: 7px;
    border-radius: 50%;
}
 .footer-social li{
     float:left;
 }
 .linked-in{
     background-color:#007bb6;
 }
 .facebook{
     background-color:#3b5998;
 }
 .twitter{
     background-color:#1da1f2;
 }
 .google{
     background-color:#f63e28;
 }
