<div class="navbar bg-color1">
  <div>
    <div class="navbarContent-left bg-color2"></div>
    <div class="navbarContent-right bg-color3"></div>
  </div>
</div>


<div class="header">
  <div class="headerContent">
    <div class="headerContent-item headerContent-item1 bg-color1"></div>
    <h2>category</h2>
    <div class="headerContent-item headerContent-item2 bg-color2"></div>
    <div class="headerContent-item headerContent-item3 bg-color3"></div>
  </div>
</div>
